.recent-photo-container {
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  overflow: scroll;
}
.recent-photo-container::-webkit-scrollbar {
  display: none;
}
.recent-photo-container .photo-container {
  display: flex;
  gap: 1rem;
  gap: 1.2rem;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
}
.recent-photo-container .photo-container .photo-card {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  border-radius: 10px;
  border: 1px solid grey;
  gap: 0.4rem;
}
.recent-photo-container .photo-container .photo-card .img-title {
  font-size: 18px;
}
.recent-photo-container .photo-container .photo-card img {
  width: 100%;
  border-radius: 5px;
}
.recent-photo-container .photo-container .photo-card .img-delete-btn {
  width: 100%;
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
  background: red;
  color: white;
  gap: 1rem;
  border-radius: 10px;
}
.recent-photo-container .photo-container .photo-card .img-delete-btn h1 {
  font-size: 18px;
}
.recent-photo-container .photo-container .photo-card .utility-btn {
  font-size: 18px;
  color: white;
}

.recent-job-container {
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  overflow: scroll;
}
.recent-job-container::-webkit-scrollbar {
  display: none;
}
.recent-job-container .job-card-dashboard {
  width: 40%;
  padding: 1rem;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.03);
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
  border: 1px solid grey;
}
.recent-job-container .job-card-dashboard .dashboard-job-card-image-container {
  width: 100%;
}
.recent-job-container .job-card-dashboard .dashboard-job-card-image-container img {
  width: 100%;
  border-radius: 0.8rem;
}
.recent-job-container .job-card-dashboard .dashboard-job-card-detail {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 0.5rem;
  border-top: 1px solid grey;
}
.recent-job-container .job-card-dashboard .dashboard-job-card-detail h4 {
  font-size: 20px;
  color: black;
  text-transform: capitalize;
}
.recent-job-container .job-card-dashboard .dashboard-job-card-detail h6 {
  font-size: 19px;
  color: grey;
}
.recent-job-container .job-card-dashboard .dashboard-job-card-detail h6 span {
  color: black;
}
.recent-job-container .job-card-dashboard .dashboard-job-card-detail p {
  font-size: 16px;
  color: grey;
}
.recent-job-container .job-card-dashboard .dashboard-job-card-detail .delete-btn-jobs {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  color: white;
  background: red;
  border-radius: 10px;
  border: none;
}

.recent-apply-container {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  overflow: scroll;
}
.recent-apply-container::-webkit-scrollbar {
  display: none;
}

.apply-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem 0;
  font-size: 1.2rem;
  font-weight: 600;
  border-bottom: 1px solid grey;
}

.apply-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 1rem;
}

.apply-card {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  width: 100%;
  height: auto;
  padding: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.apply-card h1 {
  font-size: 18px;
  padding-left: 0.2rem;
  text-transform: capitalize;
}

.apply-card h2 {
  font-size: 17px;
  padding-left: 0.2rem;
  color: grey;
}

.apply-card h3 {
  font-size: 18px;
  color: rgb(29, 116, 255);
}

.apply-card h4 {
  font-size: 18px;
  color: rgb(131, 131, 131);
}

.apply-card .apply-title {
  padding: 0.5rem 1rem;
  font-size: 15px;
  font-weight: 600;
  text-transform: capitalize;
  background: rgba(2, 158, 255, 0.1);
  color: rgb(5, 97, 255);
  border-radius: 5px;
}

.apply-card .apply-field {
  padding: 0.5rem 1rem;
  font-size: 15px;
  font-weight: 600;
  text-transform: capitalize;
  background: rgba(2, 255, 57, 0.1);
  color: rgb(0, 172, 9);
  border-radius: 5px;
}

.dateTime {
  font-size: 16px;
  color: rgb(110, 110, 110);
}

.dateTime span {
  color: black;
}

.delete-btn {
  width: 100%;
  padding: 0.7rem 0;
  color: white;
  background: red;
  border-radius: 10px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
}/*# sourceMappingURL=recent-all.css.map */