.side-bar-container{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.3);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    align-items: center;justify-content: flex-end;
}
.side-bar{
    width: 30%;
    height: 100%;
    background: white;
}
.side-bar-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.2rem;
}
.side-bar-header h2{
    font-size: 24px;
}
.side-bar-header .close-icon{
    font-size: 24px;
}
.side-bar-header .close-icon:hover{
    color: red;
}