.form {
    width: 100%;
    height: 100vh;
    /* background-color:red; */
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(20px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.form .form-card {
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    border-radius: 2rem;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.3);
    background-color: white;
    padding: 1.2rem;
}

.form-card .form-inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90%;
}

.form-inputs input {
    width: 100%;
    height: 50px;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 0 1.2rem;
    font-size: 18px;
}

.add-job-btn {
    padding: .6rem 2.5rem;
    color: white;
    background-color: rgb(29, 116, 255);
    border: none;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
}

.cancel-btn {
    padding: .6rem 2.5rem;
    color: rgb(0, 0, 0);
    background-color: rgb(199, 199, 199);
    border: none;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
}
.field-selecter{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    gap: 1.2rem;
}
.field-selecter select{
    width: 60%;
    height: 30px;
}
.field-selecter select option{
    font-size: 18px;
    font-weight: 600;
    color: grey;
    text-transform: capitalize;
}