.dashboard-container{
    position: absolute;
    top: 0;
    z-index:100;
    width: 100%;
    height: 100vh;
    background:rgb(233, 233, 233);
    padding: 1.2rem;
    display: grid;
    grid-template-rows: 1fr 11fr;
    gap: .8rem;
    .auth-popup{
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    
        .pop-card{
            width: 30%;
            padding: 1.4rem 2rem;
            border-radius: 1.2rem;
            background: white;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: .8rem;
            box-shadow: 8px 8px 15px rgba(0,0,0,0.2);
            input{
                width: 90%;
                height: 56px;
                border: 1px solid grey;
                border-radius: 5px;
                padding: 0 1rem;
                font-size: 18px;
                background: transparent;
            }
            button{
                width: 180px;
                height: 46px;
                background: black;
                color: white;
                font-size: 18px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 2rem;
            }
            p{
                font-size: 14px;
                color: red;
                font-weight: bold;
            }
        }
    }
    .dashboard-header{
        background: white;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: .9rem 1.2rem;
        border-radius: 1rem;
        .exit-btn{
            width: 50px;
            height: 50px;
            background: rgba(0,0,0,0.1);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            color: black;
            border-radius: 10px;
        }
        h2{
            text-transform: capitalize;
            font-size: 28px;
        }
    }
    .dashboard-main{
        width: 100%;
        display: flex;
        gap: 1rem;
        .applied-list{
            width: 100%;
            border-radius: 1rem;
            background: white;
        }
        .post-job-container{
            width: 100%;
            padding: 1rem 1.2rem;
            border-radius: 1rem;
            background: white;
            display: flex;
            flex-direction: column;
            gap: 1.2rem;
            align-items: center;
            .add-job-btn{
                width: 180px;
                height: 50px;
                color: white;
                background-color: rgb(29, 116, 255);
                border: none;
                font-size: 18px;
                font-weight: 600;
                border-radius: 10px;
            }
        }
        .photo-upload-container{
            width: 80%;
            padding: 1rem 1.2rem;
            border-radius: 1rem;
            background: white;
            display: flex;
            flex-direction: column;
            gap: 1.2rem;
            align-items: center;
            .header-photos{
                .add-button{
                    width: 180px;
                    height: 50px;
                    color: white;
                    background-color: rgb(29, 116, 255);
                    border: none;
                    font-size: 18px;
                    font-weight: 600;
                    border-radius: 10px;
                }
            }
        }
    }
    
}

// ---------- recent job section -------- 
.recent-job-container{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    overflow:scroll;
    &::-webkit-scrollbar{
        display: none;
    }
    .job-card-dashboard{
        width: 100%;
        padding: 1rem;
        border-radius: 15px;
        background: rgba(0,0,0,0.03);
        display: flex;
        flex-direction: column;
        gap: .8rem;
        align-items: center;
        border: 1px solid grey;
        .dashboard-job-card-image-container{
            width: 100%;
            img{
                width: 100%;
                border-radius: .8rem;
            }
        }
        .dashboard-job-card-detail{
            // border: 1px solid red;  
            width: 90%;
            display: flex;
            flex-direction: column;
            gap: .5rem;
            padding-top: .5rem;
            border-top: 1px solid grey;
            h4{
                font-size: 20px;
                color: black;
                text-transform: capitalize;
            }
            h6{
                font-size: 19px;
                color: grey;
                span{
                    color: black;
                }
            }
            p{
                font-size: 16px;
                color: grey;
            }
            .delete-btn-jobs{
                width: 100%;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 18px;
                font-weight: 600;
                color: white;
                background: red;
                border-radius: 10px;
                border: none;
            }
        }
    }
}
.recent-photo-container{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    overflow:scroll;
    &::-webkit-scrollbar{
        display: none;
    }
    .photo-container{
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        width: 100%;
        height: auto;
        .photo-card{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: .5em .8rem;
            border-radius: 10px;
            border: 1px solid grey;
            gap: 1rem;
            img{
                width: 60px;
                border-radius: 5px;
            }
            h1{
                font-size: 18px;
                width: 100%;
                overflow: hidden;
            }
            .utility-btn{
                font-size: 24px;
                color: red;
            }
        }
    }
}