.dashboard-container {
  position: absolute;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background: rgb(233, 233, 233);
  padding: 1.2rem;
  display: grid;
  grid-template-rows: 1fr 11fr;
  gap: 0.8rem;
}
.dashboard-container .auth-popup {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard-container .auth-popup .pop-card {
  width: 30%;
  padding: 1.4rem 2rem;
  border-radius: 1.2rem;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.8rem;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.2);
}
.dashboard-container .auth-popup .pop-card input {
  width: 90%;
  height: 56px;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 0 1rem;
  font-size: 18px;
  background: transparent;
}
.dashboard-container .auth-popup .pop-card button {
  width: 180px;
  height: 46px;
  background: black;
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
}
.dashboard-container .auth-popup .pop-card p {
  font-size: 14px;
  color: red;
  font-weight: bold;
}
.dashboard-container .dashboard-header {
  background: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.9rem 1.2rem;
  border-radius: 1rem;
}
.dashboard-container .dashboard-header .exit-btn {
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: black;
  border-radius: 10px;
}
.dashboard-container .dashboard-header h2 {
  text-transform: capitalize;
  font-size: 28px;
}
.dashboard-container .dashboard-main {
  width: 100%;
  display: flex;
  gap: 1rem;
}
.dashboard-container .dashboard-main .applied-list {
  width: 100%;
  border-radius: 1rem;
  background: white;
}
.dashboard-container .dashboard-main .post-job-container {
  width: 100%;
  padding: 1rem 1.2rem;
  border-radius: 1rem;
  background: white;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
}
.dashboard-container .dashboard-main .post-job-container .add-job-btn {
  width: 180px;
  height: 50px;
  color: white;
  background-color: rgb(29, 116, 255);
  border: none;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
}
.dashboard-container .dashboard-main .photo-upload-container {
  width: 80%;
  padding: 1rem 1.2rem;
  border-radius: 1rem;
  background: white;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
}
.dashboard-container .dashboard-main .photo-upload-container .header-photos .add-button {
  width: 60px;
  height: 60px;
  background-color: rgb(29, 116, 255);
  font-size: 24px;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 10px;
}

.recent-job-container {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  overflow: scroll;
}
.recent-job-container::-webkit-scrollbar {
  display: none;
}
.recent-job-container .job-card-dashboard {
  width: 100%;
  padding: 1rem;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.03);
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
  border: 1px solid grey;
}
.recent-job-container .job-card-dashboard .dashboard-job-card-image-container {
  width: 100%;
}
.recent-job-container .job-card-dashboard .dashboard-job-card-image-container img {
  width: 100%;
}
.recent-job-container .job-card-dashboard .dashboard-job-card-detail {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 0.5rem;
  border-top: 1px solid grey;
}
.recent-job-container .job-card-dashboard .dashboard-job-card-detail h4 {
  font-size: 20px;
  color: black;
  text-transform: capitalize;
}
.recent-job-container .job-card-dashboard .dashboard-job-card-detail h6 {
  font-size: 19px;
  color: grey;
}
.recent-job-container .job-card-dashboard .dashboard-job-card-detail h6 span {
  color: black;
}
.recent-job-container .job-card-dashboard .dashboard-job-card-detail p {
  font-size: 16px;
  color: grey;
}
.recent-job-container .job-card-dashboard .dashboard-job-card-detail .delete-btn-jobs {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  color: white;
  background: red;
  border-radius: 10px;
  border: none;
}

.recent-photo-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.recent-photo-container::-webkit-scrollbar {
  display: none;
}
.recent-photo-container .photo-container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 100%;
  height: auto;
}
.recent-photo-container .photo-container .photo-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0.8rem;
  border-radius: 10px;
  border: 1px solid grey;
  gap: 1rem;
}
.recent-photo-container .photo-container .photo-card img {
  width: 60px;
  border-radius: 5px;
}
.recent-photo-container .photo-container .photo-card h1 {
  font-size: 18px;
  width: 100%;
  overflow: hidden;
}
.recent-photo-container .photo-container .photo-card .utility-btn {
  font-size: 24px;
  color: red;
}/*# sourceMappingURL=dashboard.css.map */