.App{
  width: 100%;
}
.button{
  padding: 1rem 3rem;
  background-color: black;
  color: white;
  font-size: 18px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .9rem;
  border-radius: 10px;
}